body { font-family: verdana, sans-serif; margin-left: 15%; width: 800px; }
h1, h2, h3, h4, p, ul, ol { margin-bottom: 20px; color: #333; }
p, ul, ol { font-family: georgia, serif; }
a, a:visited { color: #339; text-decoration: none; }
a:hover { color: #69f; }
h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
div.sidebar h1 { font-size: 17px; margin-bottom: 10px; }
div.sidebar h2 { font-size: 13px; margin-bottom: 10px; }
div.sidebar p, div.sidebar ul, div.sidebar ol { font-size: 12px; margin-bottom: 10px; }
p.subtitle { font-style: italic; }

div.banner { padding: 10px; color: white; width: 800px; height: 100px;
	background: url(http://studio.zeraweb.com/s/rectangle?w=800&h=100&r=12&c=9cf) no-repeat; background-color: #9cf; margin-bottom: 1em; }
div.banner h1 { color: #339; }
div.banner a, div.banner a:visited { color: #339; text-decoration: none; }
div.banner p.tag { float: right; margin-right: 50px; padding-top: 30px; 
	font-family: courier; font-weight: bold; color: #339; }

div.main { float: right; width: 500px; padding: 0 20px;  }
div.sidebar { float: right; width: 200px; padding: 0 30px; }
div.footer { float: right; clear: both; width: 800px;
	font-size: 11px; padding-top: 2em;  margin-top: 2em;
	text-align: center; background-color: #9cf; }
	
div.blog h2 { padding-top: 20px; border-top: 1px solid #339; }
div.byline { margin-top: -18px; font-size: 12px; }
div.byline span.author { font-weight: bold; }
div.byline span.date { font-weight: bold; }
div.sidebar div.byline { font-size: 10px;}

span.quote { font-style: italic; }

.feed img { border: none; }
